
/* .background{
    background:linear-gradient(#08ADFA,#4FC1F5,#090909);
    height: 800px  !important;
    width: 100% !important;
} */

.noGrp{
    background-color:rgb(224, 227, 226)
}
.frg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}
.forgot{
    color: blue;
    font-weight: 500;
    cursor: pointer;

}
.forgot:hover{
    border-bottom: 2px solid blue;
}
.txt{
    color: blue;
    font-weight: 500;
    cursor: pointer;

}
.log_Div{
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 5%; */
}